body {
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
	color: #2e2a2a;	
}

.intro {
	background-image: url('/assets/img/bg2.jpg');
	background-size: 1600px;
	/*background-repeat: repeat-x;*/
	font-family: 'Abel', sans-serif;
	margin-bottom: 16px;
}


.jumbotron {
	background-color: transparent;
	color: #2e2a2a;

}

.jumbotron h1 {
	text-align: right;
	font-size: 3.2em;
	margin-top: 120px;
	color: #ffffff;
}

pre {
	background-color: #272822;
	border: 1px solid #272822;
	color: #ffffff;
}

.activity-heading {
	text-align: center;
}

.image-wrapper {
	position: relative;
	margin-bottom: 15px;
}

.image-wrapper .description {
	position: absolute; /* absolute position (so we can position it where we want)*/  
    bottom: 0px; /* position will be on bottom */
    width: 100%;  
    /* styling bellow */  
    background-color:black;  
    font-family: 'Abel';
    color: #ffffff;  
    opacity:0.6; /* transparency */
    border-radius: 6px;
}

.image-wrapper .description p {
	padding: 7px;  
	margin: 0px;  
}
