body {
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
	color: #2e2a2a;	
}

.intro {
	background-image: url('/assets/img/bg2.jpg');
	/*background-size: 1600px;*/
	background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
	/*background-repeat: repeat-x;*/
	font-family: 'Abel', sans-serif;
	margin-bottom: 16px;
}


.jumbotron {
	background-color: transparent;
	color: #2e2a2a;

}

.jumbotron h1 {
	text-align: right;
	font-size: 3.2em;
	margin-top: 83px;
	color: #ffffff;
}

pre {
	background-color: #272822;
	border: 1px solid #272822;
	color: #ffffff;
}

.activity-heading {
	text-align: center;
}

.image-wrapper {
	position: relative;
	margin-bottom: 15px;
}

.image-wrapper .description {
	position: absolute;
    bottom: 0px;
    width: 100%;
    background-color:black;  
    font-family: 'Abel';
    color: #ffffff;  
    opacity:0.6; /* transparency */
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.image-wrapper .description p {
	padding: 7px;  
	margin: 0px;  
}
