---
layout: default
---
<div class="intro">
  <div class="container">
    <div class="jumbotron">
      <p>This is my personal blog, where I share what I have learnt<br/> and what I have discovered during my everyday life.</p>
      <p>I like <code class="highlighter-rouge">coding</code>, reading, writing and solving problems.<br/>I am fascinated by nature and inspired by <br/> science <span style="color: #be3333; font-weight: bold;">&amp;</span> tomorrow technologies.</p>

      <h1>Sereysethy Touch<span style="color: #be3333; font-weight: bold;">.</span></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-defalt">
    <div class="panel-header">
      <h1>{{ page.tag }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="list-group">
        {% for post in page.posts %}
          <a href="{{ post.url }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{post.title}}</h4>
            <p class="list-group-item-text">{{post.excerpt}}</p>
            <!-- <p>({{ post.date | date_to_string }} | Tags: {{ post | tags }})</p> -->
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8">
      <div id="tag-cloud">
        {{ site | tag_cloud }}
      </div>
    </div>
  </div>
</div><!-- /.container -->


